* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}



.box {
    position: relative;
    width: 100%;
    height: 100vh;
} 

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    
/* /common */


/* container  */

.container {
    position: relative;
}

#shoe1 {
    background-color: red;
    color: yellow;
    font-size: 40px;
    text-align: center;
}

#shoe2 {
    background-color: green;
    color: yellow;
    font-size: 40px;
    text-align: center;
}

#shoe3 {
    background-color: yellow;
    color: green;
    font-size: 40px;
    text-align: center;
}

nav {
    top: 0;
    right: 0;
    padding: 20px 10px;
    position: fixed;
}


nav li {
    background-color: whitesmoke;
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}


/* /container  */